

// Customs styles for the navbar 
.navbar{
    background-color: #C72523 !important;
}
.navbar-brand{
    color: #B9BEBA;
}


//Custom style for buttons

.btn-primary{
    background-color: #1e2639;
}