// Customs styles for the navbar


//Custom style for buttons

.btn-primary{
    background-color: #42547e;
    color: white;
    border-color:  #42547e;
}
.btn-primary:hover{
    background-color: #1e2639;
    border-color:  #1e2639;
}


//Link style 

a:link {
    text-decoration:none;
    color: #42547e;
}

a:hover{
    color: #42547e;
}
