// Customs styles for the navbar


//Custom style for buttons

.btn-primary{
    background-color: #42547e;
    color: white;
    border-color:  #42547e;
}
.btn-primary:hover{
    background-color: #1e2639;
    border-color:  #1e2639;
}


//Link style 

a:link {
    text-decoration:none;
    color: #42547e;
}

a:hover{
    color: #42547e;
}

.bg-rojo1{
    background-color: #4D1518;
}

.bg-rojo2{
    background-color: #951E22;
}

.bg-rojo3{
    background-color: #C72523;
}

.bg-gris1{
    background-color: #B9BEBA;
}

.bg-azul1{
    background-color: #4D8AB5;
}

.bg-azul2{
    background-color: #1E2639 !important;
}
