@font-face {
    font-family: "Shaka Pow";
    src: url('/fonts/Shaka Pow.tff');
}

.navbar{
    background-color: #C72523 !important;
    opacity: 0.9;
}
.navbar-brand{
    color: white !important;
    font-family: 'Courier New', Courier, monospace;
}
.nav-item{
    margin-right: 10px ;
}

